@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: gray;
  font-family: "Be Vietnam Pro";
  margin: 0;
  background-image: url("assets/img/bg/background_dls.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alkatra";
}

header {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 150%;
}

/*--- HEADER ---*/
header .header_top {
  height: 60px;
  background-color: #000000;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_top_1-3 {
  width: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header_top_1-3 img {
  height: auto;
  width: 20px;
}

.header_top_2-3 {
  width: 33.33%;
  text-align: center;
}

.header_top_3-3 {
  width: 33.33%;
  padding-right: 40px;
  text-align: right;
}

.cta-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  color: #000;
  background: linear-gradient(to right, #F9E1A6, #F9E1A6);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
  background: linear-gradient(to right, #F9E1A6, #FFFFFF);
  transform: scale(1.03);
}

.cta-button i {
  margin-right: 8px;
}

/*--- MENU ---*/
.header_menu {
  height: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-transform: uppercase;
}

.header_menu a {
  color: #000000;
  font-size: 14px;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  display: block;
  box-sizing: border-box;
  background: url("assets/img/déco_bouton/deco_1_bouton.svg") left 0/22px 22px no-repeat, url("assets/img/déco_bouton/deco_2_bouton.svg") right bottom/22px 22px no-repeat;
}

.header_menu a:hover {
  background: url("assets/img/déco_bouton/Vector (1).svg") left 0/22px 22px no-repeat, url("assets/img/déco_bouton/Vector.svg") right bottom/22px 22px no-repeat;
}

.header_menu li {
  width: 180px;
  height: auto;
  display: flex;
  text-align: center;
}

/*--- PAGINATION ---*/
.pagination-nav {
  position: fixed;
  top: 40vh;
  left: 30px;
  z-index: 100;
}

.link-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hover-link-menu {
  display: none;
  background: rgba(0, 0, 0, 0.3725490196);
  margin: 0;
  padding: 10px 20px;
  border-radius: 20px;
}

.hover-link-menu p {
  margin: 0;
}

.pagination-nav a {
  display: block;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 20px;
  height: 20px;
  border: 2px solid #F9E1A6;
  rotate: 45deg;
}

.link-nav a:hover + .hover-link-menu {
  display: block;
}

.pagination-nav a:hover,
.pagination-nav a.active {
  background-color: #AC529C;
}

/*--- TOP BUTTON ---*/
.div_top_button {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  /* Fixed/sticky position */
  bottom: 30px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  text-align: center;
}

.div_top_button p {
  margin-top: -2px;
}

.top-button {
  width: 30px;
  height: 30px;
  bottom: 30px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-image: url("assets/img/top_button/top_button_01.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

.top-button:hover {
  background-image: url("assets/img/top_button/top_button_02.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

/*--------*/
h1 {
  font-size: 14px;
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

/*--- SECTION HERO ---*/
.hero {
  display: flex;
  color: #FFFFFF;
  align-items: center;
}

.photo_hero {
  width: 50%;
  text-align: left;
  padding-top: 50px;
}

.photo_hero img {
  width: 80%;
}

.description_hero {
  text-align: center;
  margin-top: -50px;
}

.description_hero p,
li {
  text-align: left;
}

h2 {
  font-size: 50px;
  background: linear-gradient(to right, #F9E1A6, #FFFFFF);
  /* Dégradé linéaire */
  -webkit-background-clip: text;
  /* Clip le fond au texte pour Webkit */
  background-clip: text;
  /* Clip le fond au texte standard */
  -webkit-text-fill-color: transparent;
  /* Remplit le texte avec la couleur du fond pour Webkit */
  color: transparent;
  /* Remplit le texte avec la couleur du fond standard */
  text-align: center;
  margin: 0;
}

/*--- SECTION PRÉSENTATION ---*/
.presentation {
  padding: 100px 400px 100px 400px;
}

.image {
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/*--- SECTION SERVICES PROPOSÉS ---*/
.green-check {
  color: green;
  font-size: 25px;
}

.mes_prestations {
  padding: 50px;
  text-align: center;
}

.mes_prestations h3 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.mes_prestations h4 {
  font-size: 25px;
  margin: 0;
  text-align: center;
}

.carousel {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prestation_description {
  width: 25%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4235294118);
  color: #FFFFFF;
  border: 2px solid #F9E1A6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.images_deco_gauche,
.images_deco_droit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 35%;
  gap: 20px;
}

.images_deco_gauche img,
.images_deco_droit img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

.images_deco_gauche img.show,
.images_deco_droit img.show {
  opacity: 1;
  transform: scale(1);
}

.bouton_prestation {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
  z-index: 10;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-pagination button {
  background-color: transparent;
  width: 15px;
  height: 15px;
  rotate: 45deg;
  border: 2px solid #F9E1A6;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-pagination button.active {
  background-color: #AC529C;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*--- DERNIERS PROJETS ---*/
.derniers_projets {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 100px 400px;
}

.bouton_dernier_projet a {
  color: #AC529C;
  height: 33, 33%;
  width: 100%;
}

.derniers_projets h4 {
  font-size: 30px;
  color: #F9E1A6;
  margin: 0;
  width: 100%;
  height: 33, 33%;
}

.tag {
  height: 33, 33%;
  width: 100%;
}

.image_projets {
  border: 2px solid #F9E1A6;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  width: 15vw;
  height: 15vw;
  position: relative;
}

.image_projets img {
  width: 15vw;
  height: 15vw;
  border-radius: 15px;
}

.ligne1,
.ligne2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ligne2 {
  flex-direction: row;
  gap: 230px;
  margin-top: -40px;
}

.derniers_projets h3 {
  color: #FFFFFF;
  font-size: 30px;
  width: 100%;
  text-align: left;
  margin-bottom: 100px;
}

.content-default {
  padding: 0;
  margin: 0;
}

.content-hover {
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #F9E1A6;
  border-radius: 15px;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15vw;
  height: 15vw;
}

.container_hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  rotate: -45deg;
}

.miniature_projet {
  rotate: 45deg;
  position: relative;
}

.miniature_projet:hover .content-hover {
  opacity: 1;
  z-index: 10;
}

.miniature_projet:hover .content-default {
  opacity: 0.5;
}

.miniature_projet:hover .content-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  pointer-events: none;
}

/*--- SECTIONS CONTACT ---*/
.contact {
  padding: 100px 200px 100px 200px;
  display: flex;
}

.contact h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin: 0;
}

.contact h4 {
  color: #FFFFFF;
  font-size: 24px;
}

.photo_2 {
  width: 40%;
  height: auto;
}

.photo_2 img {
  width: 400px;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.description_qui_suis_je {
  width: 60%;
  padding: 20px 60px;
}

.coordonnees {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.coordonnees a {
  background: linear-gradient(to right, #F9E1A6, #F9E1A6);
  /* Dégradé linéaire */
  -webkit-background-clip: text;
  /* Clip le fond au texte pour Webkit */
  background-clip: text;
  /* Clip le fond au texte standard */
  -webkit-text-fill-color: transparent;
  /* Remplit le texte avec la couleur du fond pour Webkit */
  color: transparent;
  /* Remplit le texte avec la couleur du fond standard */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.coordonnees a:hover {
  background: linear-gradient(to right, #F9E1A6, #FFFFFF);
  /* Dégradé linéaire */
  -webkit-background-clip: text;
  /* Clip le fond au texte pour Webkit */
  background-clip: text;
  /* Clip le fond au texte standard */
  -webkit-text-fill-color: transparent;
  /* Remplit le texte avec la couleur du fond pour Webkit */
  color: transparent;
  /* Remplit le texte avec la couleur du fond standard */
  transform: scale(1.03);
}

/*--- FOOTER ---*/
footer {
  display: flex;
  color: #FFFFFF;
  background-color: #000000;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
  line-height: 150%;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}

footer a:hover {
  color: #F9E1A6;
}

footer h4 {
  margin: 0;
  padding-bottom: 10px;
}

.footer_reseaux_sociaux {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0;
}

.footer_reseaux_sociaux img {
  width: 20px;
  height: 100%;
}

.footer_1-3 {
  width: 33.33%;
}

.footer_1-3_container {
  text-align: left;
  padding-left: 160px;
}

.footer_2-3 {
  width: 33.33%;
}

.footer_3-3 {
  width: 33.33%;
  text-align: right;
}

.footer_3-3_container {
  text-align: right;
  padding-right: 160px;
}

.footer_3-3_container li {
  text-align: right;
}

/*--- PAGES INFORMATIONS LÉGALES ---*/
.mentions,
.confidentialite,
.cookies {
  padding: 100px 0;
  color: #FFFFFF;
  width: 50%;
  margin: 0 25%;
}

.mentions h2,
.confidentialite h2,
.cookies h2 {
  text-align: center;
  color: #F9E1A6;
  font-size: 50px;
}

.mentions h3,
.confidentialite h3,
.cookies h3 {
  padding-top: 40px;
}

.mentions a,
.confidentialite a,
.cookies a {
  color: #FFFFFF;
}

.mentions a:hover,
.confidentialite a:hover,
.cookies a:hover {
  color: #F9E1A6;
}/*# sourceMappingURL=style_dls.css.map */