@charset "UTF-8";
body {
  color: black;
  background-color: gray;
  font-family: "Be Vietnam Pro";
  margin: 0;
  background-image: url(/assets/img/background_dls.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alkatra";
}

header {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header .header_top {
  height: 60px;
  background-color: #000000;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_top_1-3 {
  width: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header_top_1-3 img {
  height: auto;
  width: 20px;
}

.header_top_2-3 {
  width: 33.33%;
  text-align: center;
}

.header_top_3-3 {
  width: 33.33%;
  padding-right: 40px;
  text-align: right;
}

button {
  background-color: #F9E1A6;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

.header_menu {
  height: 40px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-transform: uppercase;
}

.header_menu a {
  color: #000000;
  font-size: 14px;
}

.header_menu li {
  width: 125px;
  text-align: center;
}

footer {
  height: 150px;
  display: flex;
  color: #FFFFFF;
  background-color: #000000;
  align-items: center;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}

footer h4 {
  margin: 0;
  padding-bottom: 10px;
}

.footer_1-3 {
  width: 33.33%;
}

.footer_1-3_container {
  text-align: left;
  padding-left: 160px;
}

.footer_2-3 {
  width: 33.33%;
}

.footer_3-3 {
  width: 33.33%;
  text-align: right;
}

.footer_3-3_container {
  text-align: right;
  padding-right: 160px;
}

h1 {
  font-size: 14px;
  color: #FFFFFF;
}

.filter-buttons {
  margin: 20px 0;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.filter-buttons .active {
  border: 2px solid #F9E1A6;
  color: #F9E1A6;
}

.filter-buttons button {
  width: 150px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.filter-buttons button:hover {
  border: 2px solid #F9E1A6;
}

.filter-btn {
  background-color: none;
}

.gallery {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas: ". project-1 project-1 project-2 project-2 project-3 project-3 ." "project-4 project-4 project-5 project-5 project-6 project-6 project-7 project-7" ". project-8 project-8 project-9 project-9 project-10 project-10 ." "project-11 project-11 project-12 project-12 project-13 project-13 project-14 project-14" ". project-15 project-15 project-16 project-16 project-17 project-17 ." "project-18 project-18 project-19 project-19 project-20 project-20 .";
}
.gallery .project-20 {
  grid-area: 1/2/3/4;
}
.gallery .project-19 {
  grid-area: 1/4/3/6;
}
.gallery .project-18 {
  grid-area: 1/6/3/8;
}
.gallery .project-17 {
  grid-area: 2/1/4/3;
}
.gallery .project-16 {
  grid-area: 2/3/4/5;
}
.gallery .project-15 {
  grid-area: 2/5/4/7;
}
.gallery .project-14 {
  grid-area: 2/7/4/9;
}
.gallery .project-13 {
  grid-area: 3/2/5/4;
}
.gallery .project-12 {
  grid-area: 3/4/5/6;
}
.gallery .project-11 {
  grid-area: 3/6/5/8;
}
.gallery .project-10 {
  grid-area: 4/1/6/3;
}
.gallery .project-9 {
  grid-area: 4/3/6/5;
}
.gallery .project-8 {
  grid-area: 4/5/6/7;
}
.gallery .project-7 {
  grid-area: 4/7/6/9;
}
.gallery .project-6 {
  grid-area: 5/2/7/4;
}
.gallery .project-5 {
  grid-area: 5/4/7/6;
}
.gallery .project-4 {
  grid-area: 5/6/7/8;
}
.gallery .project-3 {
  grid-area: 6/1/8/3;
}
.gallery .project-2 {
  grid-area: 6/3/8/5;
}
.gallery .project-1 {
  grid-area: 6/5/8/7;
}

/* Classes for different grid-template-areas based on filters */
.tag-site-web {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". project-1 project-1 project-2 project-2 project-3 project-3 ." "project-4 project-4 project-5 project-5 project-6 project-6 project-7 project-7";
}
.tag-site-web .project-19 {
  grid-area: 1/2/3/4;
}
.tag-site-web .project-17 {
  grid-area: 1/4/3/6;
}
.tag-site-web .project-11 {
  grid-area: 1/6/3/8;
}
.tag-site-web .project-6 {
  grid-area: 2/1/4/3;
}
.tag-site-web .project-5 {
  grid-area: 2/3/4/5;
}
.tag-site-web .project-1 {
  grid-area: 2/5/4/7;
}

.tag-maquettage {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". project-1 project-1 project-2 project-2 project-3 project-3 ." "project-4 project-4 project-5 project-5 project-6 project-6 project-7 project-7";
}
.tag-maquettage .project-19 {
  grid-area: 1/2/3/4;
}
.tag-maquettage .project-18 {
  grid-area: 1/4/3/6;
}
.tag-maquettage .project-17 {
  grid-area: 1/6/3/8;
}
.tag-maquettage .project-16 {
  grid-area: 2/1/4/3;
}
.tag-maquettage .project-11 {
  grid-area: 2/3/4/5;
}
.tag-maquettage .project-6 {
  grid-area: 2/5/4/7;
}
.tag-maquettage .project-5 {
  grid-area: 2/7/4/9;
}

.tag-branding {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". project-1 project-1 project-2 project-2 project-3 project-3 ." "project-4 project-4 project-5 project-5 project-6 project-6 project-7 project-7";
}
.tag-branding .project-19 {
  grid-area: 1/2/3/4;
}
.tag-branding .project-13 {
  grid-area: 1/4/3/6;
}
.tag-branding .project-11 {
  grid-area: 1/6/3/8;
}
.tag-branding .project-5 {
  grid-area: 2/1/4/3;
}

.tag-graphisme {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". project-1 project-1 project-2 project-2 project-3 project-3 ." "project-4 project-4 project-5 project-5 project-6 project-6 project-7 project-7" ". project-8 project-8 project-9 project-9 project-10 project-10 ." "project-11 project-11 project-12 project-12 project-13 project-13 project-14 project-14";
}
.tag-graphisme .project-20 {
  grid-area: 1/2/3/4;
}
.tag-graphisme .project-19 {
  grid-area: 1/4/3/6;
}
.tag-graphisme .project-15 {
  grid-area: 1/6/3/8;
}
.tag-graphisme .project-14 {
  grid-area: 2/1/4/3;
}
.tag-graphisme .project-13 {
  grid-area: 2/3/4/5;
}
.tag-graphisme .project-12 {
  grid-area: 2/5/4/7;
}
.tag-graphisme .project-10 {
  grid-area: 2/7/4/9;
}
.tag-graphisme .project-9 {
  grid-area: 3/2/5/4;
}
.tag-graphisme .project-8 {
  grid-area: 3/4/5/6;
}
.tag-graphisme .project-7 {
  grid-area: 3/6/5/8;
}
.tag-graphisme .project-5 {
  grid-area: 4/1/6/3;
}
.tag-graphisme .project-4 {
  grid-area: 4/3/6/5;
}
.tag-graphisme .project-3 {
  grid-area: 4/5/6/7;
}
.tag-graphisme .project-2 {
  grid-area: 4/7/6/9;
}

/*------------------------------------*/
.projet_vignette {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.projet_vignette > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%);
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  cursor: pointer;
  transition: 0.2s linear;
}

.projet_vignette > img:hover {
  filter: grayscale(0%);
  transform: scale(1.15);
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* Derniers projets */
.derniers_projets {
  margin: auto;
  background-color: #9f4157;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  height: 670px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 270px 100px;
  grid-auto-flow: row;
  grid-template-areas: ". project-1 project-1 ." "project-2 project-2 project-3 project-3" ". project-4 project-4 .";
}
.derniers_projets .dernier_projet_1 {
  width: 400px;
  height: auto;
  justify-content: center;
  grid-area: 1/2/3/4;
}
.derniers_projets .dernier_projet_2 {
  width: 400px;
  height: auto;
  grid-area: 2/1/4/3;
}
.derniers_projets .dernier_projet_3 {
  width: 400px;
  height: auto;
  grid-area: 2/3/4/5;
}
.derniers_projets .button_last_projet {
  height: 45px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: end;
  grid-area: 3/2/5/4;
  background-color: #249653;
}
.derniers_projets .button_last_projet a {
  color: black;
}

.derniers_projets img {
  width: 400px;
  background-size: cover;
  cursor: pointer;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.content-default-1,
.content-hover-1,
.content-default-2,
.content-hover-2,
.content-default-3,
.content-hover-3 {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: opacity 0.3s ease;
}

.dernier_projet_vignette {
  position: relative;
  width: 400px;
  height: 400px;
}

.content-hover-1,
.content-hover-2,
.content-hover-3 {
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.content-hover-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inherit;
          clip-path: inherit;
  /* Hérite du clip-path de l'élément parent */
  border: 2px solid #000;
  /* Bordure noire */
  box-sizing: border-box;
  /* Inclut la bordure dans les dimensions de l'élément */
  pointer-events: none;
  /* Assure que les événements de la souris passent à travers */
}

.content-hover-1 h4,
.content-hover-2 h4,
.content-hover-3 h4 {
  font-size: 30px;
}

.content-hover-1 a,
.content-hover-2 a,
.content-hover-3 a {
  color: #AC529C;
}

.dernier_projet_vignette:hover .content-hover-1,
.dernier_projet_vignette:hover .content-hover-2,
.dernier_projet_vignette:hover .content-hover-3 {
  opacity: 1;
  z-index: 0;
}

.dernier_projet_vignette:hover .content-default-1,
.dernier_projet_vignette:hover .content-default-2,
.dernier_projet_vignette:hover .content-default-3 {
  opacity: 0.5;
}

.tag,
.bouton_dernier_projet {
  height: 35%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.titre_projet {
  height: 10%;
  color: #F9E1A6;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style_dls_portfolio.css.map */